In [84]:
import pandas as pd
from sklearn.preprocessing import Imputer
import numpy as np
from sklearn.cross_validation import train_test_split
import matplotlib.pyplot as plt

# Reading the dataset

In [85]:
hcc = pd.read_csv("hcc-data.csv")

In [86]:
hcc.head(n=2)

,Gender,Symptoms,Alcohol,Hepatitis B Surface Antigen,Hepatitis B e Antigen,Hepatitis B Core Antibody,Hepatitis C Virus Antibody,Cirrhosis,Endemic Countries,Smoking,...,Alkaline phosphatase,Total Proteins,Creatinine,Number of Nodules,Major dimension of nodule,Direct Bilirubin,Iron,Oxygen Saturation,Ferritin,Class
0,0,1.0,0,0.0,0.0,0.0,0.0,1,0.0,0.0,...,104.0,5.4,0.60,5.0,7.8,0.2,46.0,18.0,NaN,0
1,1,NaN,1,0.0,NaN,1.0,0.0,1,0.0,1.0,...,113.0,7.8,0.55,2.0,6.2,0.3,94.0,33.0,393.0,1

# Handling the values for continuous attributes

In [87]:
continuous_x = hcc.iloc[:,23:49]

In [88]:
continuous_x.head()

,Age_at_diagnosis,Grams of Alcohol per day,Packs of cigarets per year,Performance Status,Encefalopathy degree,Ascites degree,International Normalised Ratio,Alpha-Fetoprotein,Haemoglobin,Mean Corpuscular Volume,...,Gamma glutamyl transferase,Alkaline phosphatase,Total Proteins,Creatinine,Number of Nodules,Major dimension of nodule,Direct Bilirubin,Iron,Oxygen Saturation,Ferritin
0,40,0.0,0.0,2,1.0,1.0,1.17,3.1,15.1,86.0,...,23.0,104.0,5.4,0.60,5.0,7.8,0.2,46.0,18.0,NaN
1,68,60.0,NaN,0,1.0,1.0,1.34,13.0,15.6,93.0,...,275.0,113.0,7.8,0.55,2.0,6.2,0.3,94.0,33.0,393.0
2,63,100.0,0.0,0,1.0,1.0,2.07,1.7,9.5,99.2,...,134.0,113.0,37.0,0.40,1.0,2.7,0.2,94.0,37.0,48.0
3,72,100.0,0.0,0,1.0,2.0,1.30,249.0,12.7,100.3,...,40.0,108.0,5.8,0.90,5.0,8.0,1.2,37.0,17.0,419.0
4,88,80.0,0.0,2,2.0,3.0,1.27,66.0,10.9,97.3,...,179.0,260.0,5.9,NaN,5.0,3.0,1.3,15.0,17.0,639.0

In [89]:
y_value = hcc.iloc[: , 49]

In [90]:
imputer = Imputer(missing_values = "NaN" ,strategy = 'mean', axis = 0)

In [91]:
imputer = imputer.fit(continuous_x)

In [92]:
continuous_x = imputer.transform(continuous_x)

In [93]:
print(continuous_x)

[[ 40.           0.           0.         ...  46.          18.
  443.70843672]
 [ 68.          60.          20.7235239  ...  94.          33.
  393.        ]
 [ 63.         100.           0.         ...  94.          37.
   48.        ]
 ...
 [ 77.          75.           0.         ...  85.75307125  37.28873134
  443.70843672]
 [ 75.           0.           0.         ...  85.75307125  37.28873134
  443.70843672]
 [ 55.         100.          20.7235239  ...  85.75307125  37.28873134
  443.70843672]]

In [94]:
continuous_x = pd.DataFrame(data = continuous_x)

In [95]:
continuous_x = continuous_x.apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [96]:
continuous_x.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0.273973,0.00,0.000000,0.5,0.0,0.0,0.082915,1.049524e-06,0.737226,0.329341,...,0.000000,0.104953,0.015291,0.054054,1.0,0.307317,0.003425,0.205357,0.142857,0.198972
1,0.657534,0.12,0.040634,0.0,0.0,0.0,0.125628,6.518095e-06,0.773723,0.469062,...,0.162371,0.114149,0.039755,0.047297,0.4,0.229268,0.006849,0.419643,0.261905,0.176233
2,0.589041,0.20,0.000000,0.0,0.0,0.0,0.309045,2.761905e-07,0.328467,0.592814,...,0.071521,0.114149,0.337411,0.027027,0.2,0.058537,0.003425,0.419643,0.293651,0.021525
3,0.712329,0.20,0.000000,0.0,0.0,0.5,0.115578,1.368800e-04,0.562044,0.614770,...,0.010954,0.109040,0.019368,0.094595,1.0,0.317073,0.037671,0.165179,0.134921,0.187892
4,0.931507,0.16,0.000000,0.5,0.5,1.0,0.108040,3.579429e-05,0.430657,0.554890,...,0.100515,0.264345,0.020387,0.125969,1.0,0.073171,0.041096,0.066964,0.134921,0.286547

In [97]:
continuous_x.columns = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [98]:
continuous_x.head()

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
0,0.273973,0.00,0.000000,0.5,0.0,0.0,0.082915,1.049524e-06,0.737226,0.329341,...,0.000000,0.104953,0.015291,0.054054,1.0,0.307317,0.003425,0.205357,0.142857,0.198972
1,0.657534,0.12,0.040634,0.0,0.0,0.0,0.125628,6.518095e-06,0.773723,0.469062,...,0.162371,0.114149,0.039755,0.047297,0.4,0.229268,0.006849,0.419643,0.261905,0.176233
2,0.589041,0.20,0.000000,0.0,0.0,0.0,0.309045,2.761905e-07,0.328467,0.592814,...,0.071521,0.114149,0.337411,0.027027,0.2,0.058537,0.003425,0.419643,0.293651,0.021525
3,0.712329,0.20,0.000000,0.0,0.0,0.5,0.115578,1.368800e-04,0.562044,0.614770,...,0.010954,0.109040,0.019368,0.094595,1.0,0.317073,0.037671,0.165179,0.134921,0.187892
4,0.931507,0.16,0.000000,0.5,0.5,1.0,0.108040,3.579429e-05,0.430657,0.554890,...,0.100515,0.264345,0.020387,0.125969,1.0,0.073171,0.041096,0.066964,0.134921,0.286547

# Handling the values for nominal values

In [99]:
nom_x = hcc.iloc[:,0:23]

In [100]:
nom_x.head()

,Gender,Symptoms,Alcohol,Hepatitis B Surface Antigen,Hepatitis B e Antigen,Hepatitis B Core Antibody,Hepatitis C Virus Antibody,Cirrhosis,Endemic Countries,Smoking,...,Arterial Hypertension,Chronic Renal Insufficiency,Human Immunodeficiency Virus,Nonalcoholic Steatohepatitis,Esophageal Varices,Splenomegaly,Portal Hypertension,Portal Vein Thrombosis,Liver Metastasis,Radiological Hallmark
0,0,1.0,0,0.0,0.0,0.0,0.0,1,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.0,0.0
1,1,NaN,1,0.0,NaN,1.0,0.0,1,0.0,1.0,...,0.0,0.0,0.0,0.0,NaN,1.0,1.0,0.0,0.0,1.0
2,1,1.0,1,0.0,0.0,1.0,0.0,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0
3,1,1.0,1,0.0,0.0,0.0,0.0,1,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,1.0,1.0,0.0,1.0,1.0
4,0,1.0,1,0.0,0.0,1.0,0.0,1,NaN,0.0,...,0.0,1.0,0.0,NaN,NaN,0.0,1.0,1.0,0.0,1.0

In [101]:
imputer = Imputer(missing_values = "NaN" ,strategy = 'most_frequent', axis = 0)

In [102]:
imputer = imputer.fit(nom_x)

In [103]:
nom_x = imputer.transform(nom_x)

In [104]:
nom_x = pd.DataFrame(data = nom_x)

In [105]:
nom_x.columns = ['aa','ab','ac','ad','ae','af','ag','ah','ai','aj','ak','al','am','an','ao','ap','aq','ar','as','at','au','av','aw']

In [106]:
nom_x.head()

,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,...,an,ao,ap,aq,ar,as,at,au,av,aw
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
1,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0
2,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0
3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0

In [107]:
frames = [nom_x,continuous_x]

In [108]:
x_data = pd.concat(frames, axis=1)

In [109]:
x_data.head()

,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,...,q,r,s,t,u,v,w,x,y,z
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.000000,0.104953,0.015291,0.054054,1.0,0.307317,0.003425,0.205357,0.142857,0.198972
1,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.162371,0.114149,0.039755,0.047297,0.4,0.229268,0.006849,0.419643,0.261905,0.176233
2,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.071521,0.114149,0.337411,0.027027,0.2,0.058537,0.003425,0.419643,0.293651,0.021525
3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.010954,0.109040,0.019368,0.094595,1.0,0.317073,0.037671,0.165179,0.134921,0.187892
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.100515,0.264345,0.020387,0.125969,1.0,0.073171,0.041096,0.066964,0.134921,0.286547

In [110]:
X_train, X_test, y_train, y_test = train_test_split(x_data,y_value,test_size=0.3, random_state=100)

# Fitting Kernel SVM to the Training set

In [111]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=0, shrinking=True,
  tol=0.001, verbose=False)

# Predicting the Test set results

In [112]:
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix

In [113]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [114]:
cm

array([[141,  26],
       [ 49, 255]], dtype=int64)

In [115]:
((cm[0][0]+cm[1][1])/(cm[1][0]+cm[1][1]+cm[0][0]+cm[0][1]))*100

84.07643312101911

# Visualising the Training set results

In [116]:
#X_train=X_train.values

In [117]:
#y_train=y_train.values

In [118]:
#from matplotlib.colors import ListedColormap

In [119]:
#X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))

In [120]:
#plt.contourf(X1, X2, classifier.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1),alpha = 0.75, cmap = ListedColormap(('red', 'green')))