In [48]:
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import Imputer
import numpy as np
from sklearn.cross_validation import train_test_split

# Reading the dataset

In [49]:
hcc = pd.read_csv("hcc-data.csv")

In [50]:
hcc.head(n=2)

,Gender,Symptoms,Alcohol,Hepatitis B Surface Antigen,Hepatitis B e Antigen,Hepatitis B Core Antibody,Hepatitis C Virus Antibody,Cirrhosis,Endemic Countries,Smoking,...,Alkaline phosphatase,Total Proteins,Creatinine,Number of Nodules,Major dimension of nodule,Direct Bilirubin,Iron,Oxygen Saturation,Ferritin,Class
0,1,0.0,1,0.0,0.0,0.0,0.0,1,0.0,1.0,...,150.0,7.1,0.7,1.0,3.5,0.5,NaN,NaN,NaN,1
1,0,NaN,0,0.0,0.0,0.0,1.0,1,NaN,NaN,...,NaN,NaN,NaN,1.0,1.8,NaN,NaN,NaN,NaN,1

In [51]:
hcc.columns

Index(['Gender', 'Symptoms', 'Alcohol', 'Hepatitis B Surface Antigen',
       'Hepatitis B e Antigen', 'Hepatitis B Core Antibody',
       'Hepatitis C Virus Antibody', 'Cirrhosis', 'Endemic Countries',
       'Smoking', 'Diabetes', 'Obesity', 'Hemochromatosis',
       'Arterial Hypertension', 'Chronic Renal Insufficiency',
       'Human Immunodeficiency Virus', 'Nonalcoholic Steatohepatitis',
       'Esophageal Varices', 'Splenomegaly', 'Portal Hypertension',
       'Portal Vein Thrombosis', 'Liver Metastasis', 'Radiological Hallmark',
       'Age_at_diagnosis', 'Grams of Alcohol per day',
       'Packs of cigarets per year', 'Performance Status',
       'Encefalopathy degree', 'Ascites degree',
       'International Normalised Ratio', 'Alpha-Fetoprotein', 'Haemoglobin',
       'Mean Corpuscular Volume', 'Leukocytes', 'Platelets', 'Albumin',
       'Total Bilirubin', 'Alanine transaminase', 'Aspartate transaminase',
       'Gamma glutamyl transferase', 'Alkaline phosphatase', 'Total Proteins',
       'Creatinine', 'Number of Nodules', 'Major dimension of nodule',
       'Direct Bilirubin', 'Iron', 'Oxygen Saturation', 'Ferritin', 'Class'],
      dtype='object')

# Handling the values for continuous attributes

In [52]:
continuous_x = hcc.iloc[:,23:49]

In [53]:
continuous_x.head()

,Age_at_diagnosis,Grams of Alcohol per day,Packs of cigarets per year,Performance Status,Encefalopathy degree,Ascites degree,International Normalised Ratio,Alpha-Fetoprotein,Haemoglobin,Mean Corpuscular Volume,...,Gamma glutamyl transferase,Alkaline phosphatase,Total Proteins,Creatinine,Number of Nodules,Major dimension of nodule,Direct Bilirubin,Iron,Oxygen Saturation,Ferritin
0,67,137.0,15.0,0,1.0,1.0,1.53,95.0,13.7,106.6,...,183.0,150.0,7.1,0.70,1.0,3.5,0.5,NaN,NaN,NaN
1,62,0.0,NaN,0,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.8,NaN,NaN,NaN,NaN
2,78,50.0,50.0,2,1.0,2.0,0.96,5.8,8.9,79.8,...,202.0,109.0,7.0,2.10,5.0,13.0,0.1,28.0,6.0,16.0
3,77,40.0,30.0,0,1.0,1.0,0.95,2440.0,13.4,97.1,...,94.0,174.0,8.1,1.11,2.0,15.7,0.2,NaN,NaN,NaN
4,76,100.0,30.0,0,1.0,1.0,0.94,49.0,14.3,95.1,...,173.0,109.0,6.9,1.80,1.0,9.0,NaN,59.0,15.0,22.0

In [54]:
y_value = hcc.iloc[: , 49]

In [55]:
type(y_value)

pandas.core.series.Series

In [56]:
imputer = Imputer(missing_values = "NaN" ,strategy = 'mean', axis = 0)

In [57]:
imputer = imputer.fit(continuous_x)

In [58]:
continuous_x = imputer.transform(continuous_x)

In [59]:
print(continuous_x)

[[ 67.         137.          15.         ...  85.59883721  37.02894118
  438.99764706]
 [ 62.           0.          20.46428571 ...  85.59883721  37.02894118
  438.99764706]
 [ 78.          50.          50.         ...  28.           6.
   16.        ]
 ...
 [ 65.          71.00854701  48.         ...  85.59883721  37.02894118
  438.99764706]
 [ 44.          71.00854701  20.46428571 ...  85.59883721  37.02894118
  438.99764706]
 [ 52.          50.          20.46428571 ...  85.59883721  37.02894118
  438.99764706]]

In [60]:
continuous_x = pd.DataFrame(data = continuous_x)

In [61]:
continuous_x = continuous_x.apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [62]:
continuous_x.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0.643836,0.274,0.029412,0.0,0.0,0.0,0.173367,0.000052,0.635036,0.740519,...,0.103093,0.151954,0.032620,0.067568,0.2,0.097561,0.013699,0.382138,0.293880,0.196860
1,0.575342,0.000,0.040126,0.0,0.0,0.0,0.146194,0.010660,0.575110,0.511372,...,0.157878,0.215518,0.051591,0.125282,0.2,0.014634,0.062671,0.382138,0.293880,0.196860
2,0.794521,0.100,0.098039,0.5,0.0,0.5,0.030151,0.000003,0.284672,0.205589,...,0.115335,0.110062,0.031600,0.256757,1.0,0.560976,0.000000,0.125000,0.047619,0.007175
3,0.780822,0.080,0.058824,0.0,0.0,0.0,0.027638,0.001347,0.613139,0.550898,...,0.045747,0.176475,0.042813,0.122973,0.4,0.692683,0.003425,0.382138,0.293880,0.196860
4,0.767123,0.200,0.058824,0.0,0.0,0.0,0.025126,0.000026,0.678832,0.510978,...,0.096649,0.110062,0.030581,0.216216,0.2,0.365854,0.062671,0.263393,0.119048,0.009865

In [63]:
#X_train, X_test, y_train, y_test = train_test_split(continuous_x,y_value,test_size=0.3, random_state=100)

In [64]:
#X_train.columns = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

continuous_x.columns = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

#X_test.columns = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [65]:
continuous_x.head()

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
0,0.643836,0.274,0.029412,0.0,0.0,0.0,0.173367,0.000052,0.635036,0.740519,...,0.103093,0.151954,0.032620,0.067568,0.2,0.097561,0.013699,0.382138,0.293880,0.196860
1,0.575342,0.000,0.040126,0.0,0.0,0.0,0.146194,0.010660,0.575110,0.511372,...,0.157878,0.215518,0.051591,0.125282,0.2,0.014634,0.062671,0.382138,0.293880,0.196860
2,0.794521,0.100,0.098039,0.5,0.0,0.5,0.030151,0.000003,0.284672,0.205589,...,0.115335,0.110062,0.031600,0.256757,1.0,0.560976,0.000000,0.125000,0.047619,0.007175
3,0.780822,0.080,0.058824,0.0,0.0,0.0,0.027638,0.001347,0.613139,0.550898,...,0.045747,0.176475,0.042813,0.122973,0.4,0.692683,0.003425,0.382138,0.293880,0.196860
4,0.767123,0.200,0.058824,0.0,0.0,0.0,0.025126,0.000026,0.678832,0.510978,...,0.096649,0.110062,0.030581,0.216216,0.2,0.365854,0.062671,0.263393,0.119048,0.009865

# Handling the values for nominal values

In [66]:
nom_x = hcc.iloc[:,0:23]

In [67]:
nom_x.head()

,Gender,Symptoms,Alcohol,Hepatitis B Surface Antigen,Hepatitis B e Antigen,Hepatitis B Core Antibody,Hepatitis C Virus Antibody,Cirrhosis,Endemic Countries,Smoking,...,Arterial Hypertension,Chronic Renal Insufficiency,Human Immunodeficiency Virus,Nonalcoholic Steatohepatitis,Esophageal Varices,Splenomegaly,Portal Hypertension,Portal Vein Thrombosis,Liver Metastasis,Radiological Hallmark
0,1,0.0,1,0.0,0.0,0.0,0.0,1,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0,NaN,0,0.0,0.0,0.0,1.0,1,NaN,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,0.0,1,1.0,0.0,1.0,0.0,1,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
3,1,1.0,1,0.0,0.0,0.0,0.0,1,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,1,1.0,1,1.0,0.0,1.0,0.0,1,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [68]:
imputer = Imputer(missing_values = "NaN" ,strategy = 'most_frequent', axis = 0)

In [69]:
imputer = imputer.fit(nom_x)

In [70]:
nom_x = imputer.transform(nom_x)

In [71]:
nom_x = pd.DataFrame(data = nom_x)

In [72]:
nom_x.columns = ['aa','ab','ac','ad','ae','af','ag','ah','ai','aj','ak','al','am','an','ao','ap','aq','ar','as','at','au','av','aw']

In [73]:
nom_x.head()

,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,...,an,ao,ap,aq,ar,as,at,au,av,aw
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [74]:
frames = [nom_x,continuous_x]

In [75]:
x_data = pd.concat(frames, axis=1)

In [76]:
x_data.head()

,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,...,q,r,s,t,u,v,w,x,y,z
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.103093,0.151954,0.032620,0.067568,0.2,0.097561,0.013699,0.382138,0.293880,0.196860
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.157878,0.215518,0.051591,0.125282,0.2,0.014634,0.062671,0.382138,0.293880,0.196860
2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.115335,0.110062,0.031600,0.256757,1.0,0.560976,0.000000,0.125000,0.047619,0.007175
3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.045747,0.176475,0.042813,0.122973,0.4,0.692683,0.003425,0.382138,0.293880,0.196860
4,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.096649,0.110062,0.030581,0.216216,0.2,0.365854,0.062671,0.263393,0.119048,0.009865

In [77]:
X_train, X_test, y_train, y_test = train_test_split(x_data,y_value,test_size=0.3, random_state=100)

In [78]:
X_train.columns = ['aa','ab','ac','ad','ae','af','ag','ah','ai','aj','ak','al','am','an','ao','ap','aq','ar','as','at','au','av','aw','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

#x_data.columns = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','aa','ab','ac','ad','ae','af','ag','ah','ai','aj','ak','al','am','an','ao','ap','aq','ar','as','at','au','av','aw']

X_test.columns = ['aa','ab','ac','ad','ae','af','ag','ah','ai','aj','ak','al','am','an','ao','ap','aq','ar','as','at','au','av','aw','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [79]:
X_train.columns

Index(['aa', 'ab', 'ac', 'ad', 'ae', 'af', 'ag', 'ah', 'ai', 'aj', 'ak', 'al',
       'am', 'an', 'ao', 'ap', 'aq', 'ar', 'as', 'at', 'au', 'av', 'aw', 'a',
       'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o',
       'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
      dtype='object')

In [80]:
from keras.models import Sequential
from keras.layers import Dense

In [81]:
classifier = Sequential()

In [82]:
classifier.add(Dense(output_dim = 25, init = 'uniform', activation = 'relu', input_dim = 49))

C:\Users\USER\Anaconda3\envs\keras_env\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=49, units=25, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [83]:
classifier.add(Dense(output_dim = 25, init = 'uniform', activation = 'relu'))

C:\Users\USER\Anaconda3\envs\keras_env\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=25, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [84]:
classifier.add(Dense(output_dim = 25, init = 'uniform', activation = 'relu'))

C:\Users\USER\Anaconda3\envs\keras_env\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=25, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [85]:
#classifier.add(Dense(output_dim = 25, init = 'uniform', activation = 'relu'))

In [86]:
classifier.add(Dense(output_dim = 25, init = 'uniform', activation = 'relu'))

C:\Users\USER\Anaconda3\envs\keras_env\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=25, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [87]:
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

C:\Users\USER\Anaconda3\envs\keras_env\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [88]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [89]:
classifier.fit(X_train, y_train, batch_size = 5, nb_epoch = 100)

C:\Users\USER\Anaconda3\envs\keras_env\lib\site-packages\keras\models.py:944: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

Epoch 1/100
115/115 [==============================] - 1s 12ms/step - loss: 0.6920 - acc: 0.6261
Epoch 2/100
115/115 [==============================] - 0s 2ms/step - loss: 0.6896 - acc: 0.6348
Epoch 3/100
115/115 [==============================] - 0s 2ms/step - loss: 0.6854 - acc: 0.6348
Epoch 4/100
115/115 [==============================] - 0s 2ms/step - loss: 0.6704 - acc: 0.6348
Epoch 5/100
115/115 [==============================] - 0s 2ms/step - loss: 0.6569 - acc: 0.6348
Epoch 6/100
115/115 [==============================] - 0s 2ms/step - loss: 0.6427 - acc: 0.6348
Epoch 7/100
115/115 [==============================] - 0s 4ms/step - loss: 0.6345 - acc: 0.6348
Epoch 8/100
115/115 [==============================] - 0s 4ms/step - loss: 0.6202 - acc: 0.6348
Epoch 9/100
115/115 [==============================] - 0s 3ms/step - loss: 0.5973 - acc: 0.6348
Epoch 10/100
115/115 [==============================] - 0s 3ms/step - loss: 0.5594 - acc: 0.6348
Epoch 11/100
115/115 [==============================] - 0s 3ms/step - loss: 0.5187 - acc: 0.7130
Epoch 12/100
115/115 [==============================] - 0s 3ms/step - loss: 0.5101 - acc: 0.7565
Epoch 13/100
115/115 [==============================] - 0s 3ms/step - loss: 0.4852 - acc: 0.7826
Epoch 14/100
115/115 [==============================] - 0s 3ms/step - loss: 0.4543 - acc: 0.8174
Epoch 15/100
115/115 [==============================] - 0s 3ms/step - loss: 0.4315 - acc: 0.8087
Epoch 16/100
115/115 [==============================] - 0s 3ms/step - loss: 0.4232 - acc: 0.8261
Epoch 17/100
115/115 [==============================] - 0s 2ms/step - loss: 0.3952 - acc: 0.8261
Epoch 18/100
115/115 [==============================] - 0s 1ms/step - loss: 0.3807 - acc: 0.8609
Epoch 19/100
115/115 [==============================] - 0s 2ms/step - loss: 0.3626 - acc: 0.8348
Epoch 20/100
115/115 [==============================] - 0s 2ms/step - loss: 0.3616 - acc: 0.8261
Epoch 21/100
115/115 [==============================] - 0s 2ms/step - loss: 0.3416 - acc: 0.8609
Epoch 22/100
115/115 [==============================] - 0s 2ms/step - loss: 0.3539 - acc: 0.8261
Epoch 23/100
115/115 [==============================] - 0s 3ms/step - loss: 0.3214 - acc: 0.8783
Epoch 24/100
115/115 [==============================] - 0s 4ms/step - loss: 0.3154 - acc: 0.8783
Epoch 25/100
115/115 [==============================] - 0s 4ms/step - loss: 0.2944 - acc: 0.8870
Epoch 26/100
115/115 [==============================] - 0s 4ms/step - loss: 0.2790 - acc: 0.9043
Epoch 27/100
115/115 [==============================] - 0s 4ms/step - loss: 0.2641 - acc: 0.8870
Epoch 28/100
115/115 [==============================] - 0s 4ms/step - loss: 0.2884 - acc: 0.8870
Epoch 29/100
115/115 [==============================] - 0s 3ms/step - loss: 0.2501 - acc: 0.9217
Epoch 30/100
115/115 [==============================] - 0s 3ms/step - loss: 0.2493 - acc: 0.9130
Epoch 31/100
115/115 [==============================] - 0s 3ms/step - loss: 0.2336 - acc: 0.9217
Epoch 32/100
115/115 [==============================] - 0s 3ms/step - loss: 0.2282 - acc: 0.9217
Epoch 33/100
115/115 [==============================] - 0s 3ms/step - loss: 0.2222 - acc: 0.9217
Epoch 34/100
115/115 [==============================] - 0s 4ms/step - loss: 0.2163 - acc: 0.9217
Epoch 35/100
115/115 [==============================] - 0s 3ms/step - loss: 0.2099 - acc: 0.9304
Epoch 36/100
115/115 [==============================] - 0s 4ms/step - loss: 0.2008 - acc: 0.9304
Epoch 37/100
115/115 [==============================] - 0s 4ms/step - loss: 0.2124 - acc: 0.9130
Epoch 38/100
115/115 [==============================] - 0s 4ms/step - loss: 0.1957 - acc: 0.9304
Epoch 39/100
115/115 [==============================] - 0s 4ms/step - loss: 0.1915 - acc: 0.9304
Epoch 40/100
115/115 [==============================] - 0s 4ms/step - loss: 0.1841 - acc: 0.9391
Epoch 41/100
115/115 [==============================] - 0s 4ms/step - loss: 0.1833 - acc: 0.9478
Epoch 42/100
115/115 [==============================] - 0s 4ms/step - loss: 0.1791 - acc: 0.9304
Epoch 43/100
115/115 [==============================] - 0s 4ms/step - loss: 0.1705 - acc: 0.9478
Epoch 44/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1625 - acc: 0.9478
Epoch 45/100
115/115 [==============================] - 0s 4ms/step - loss: 0.1578 - acc: 0.9478
Epoch 46/100
115/115 [==============================] - 0s 4ms/step - loss: 0.1501 - acc: 0.9565
Epoch 47/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1470 - acc: 0.9565
Epoch 48/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1428 - acc: 0.9565
Epoch 49/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1396 - acc: 0.9565
Epoch 50/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1383 - acc: 0.9565
Epoch 51/100
115/115 [==============================] - 0s 4ms/step - loss: 0.1353 - acc: 0.9565
Epoch 52/100
115/115 [==============================] - 0s 4ms/step - loss: 0.1349 - acc: 0.9565
Epoch 53/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1330 - acc: 0.9565
Epoch 54/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1299 - acc: 0.9565
Epoch 55/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1274 - acc: 0.9565
Epoch 56/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1255 - acc: 0.9565
Epoch 57/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1227 - acc: 0.9565
Epoch 58/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1206 - acc: 0.9565
Epoch 59/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1179 - acc: 0.9565
Epoch 60/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1189 - acc: 0.9565
Epoch 61/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1175 - acc: 0.9565
Epoch 62/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1112 - acc: 0.9565
Epoch 63/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1081 - acc: 0.9565
Epoch 64/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1035 - acc: 0.9565
Epoch 65/100
115/115 [==============================] - 0s 3ms/step - loss: 0.1007 - acc: 0.9565
Epoch 66/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0959 - acc: 0.9565
Epoch 67/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0953 - acc: 0.9652
Epoch 68/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0847 - acc: 0.9565
Epoch 69/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0771 - acc: 0.9652
Epoch 70/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0476 - acc: 0.9913
Epoch 71/100
115/115 [==============================] - 0s 4ms/step - loss: 0.0376 - acc: 0.9913
Epoch 72/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0315 - acc: 1.0000
Epoch 73/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0253 - acc: 1.0000
Epoch 74/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0176 - acc: 1.0000
Epoch 75/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0130 - acc: 1.0000
Epoch 76/100
115/115 [==============================] - 0s 4ms/step - loss: 0.0100 - acc: 1.0000
Epoch 77/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0075 - acc: 1.0000
Epoch 78/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0066 - acc: 1.0000
Epoch 79/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0051 - acc: 1.0000
Epoch 80/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0042 - acc: 1.0000
Epoch 81/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0036 - acc: 1.0000
Epoch 82/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0029 - acc: 1.0000
Epoch 83/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0027 - acc: 1.0000
Epoch 84/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0022 - acc: 1.0000
Epoch 85/100

115/115 [==============================] - 0s 3ms/step - loss: 0.0021 - acc: 1.0000
Epoch 86/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0016 - acc: 1.0000
Epoch 87/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0014 - acc: 1.0000
Epoch 88/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0012 - acc: 1.0000
Epoch 89/100
115/115 [==============================] - 0s 3ms/step - loss: 0.0011 - acc: 1.0000
Epoch 90/100
115/115 [==============================] - 0s 3ms/step - loss: 9.7484e-04 - acc: 1.0000
Epoch 91/100
115/115 [==============================] - 0s 3ms/step - loss: 8.6526e-04 - acc: 1.0000
Epoch 92/100
115/115 [==============================] - 0s 3ms/step - loss: 8.3838e-04 - acc: 1.0000
Epoch 93/100
115/115 [==============================] - 0s 4ms/step - loss: 7.3049e-04 - acc: 1.0000
Epoch 94/100
115/115 [==============================] - 0s 3ms/step - loss: 6.4345e-04 - acc: 1.0000
Epoch 95/100
115/115 [==============================] - 0s 4ms/step - loss: 5.8840e-04 - acc: 1.0000
Epoch 96/100
115/115 [==============================] - 0s 4ms/step - loss: 5.4308e-04 - acc: 1.0000
Epoch 97/100
115/115 [==============================] - 0s 3ms/step - loss: 5.0360e-04 - acc: 1.0000
Epoch 98/100
115/115 [==============================] - 0s 3ms/step - loss: 4.6205e-04 - acc: 1.0000
Epoch 99/100
115/115 [==============================] - 0s 3ms/step - loss: 4.4351e-04 - acc: 1.0000
Epoch 100/100
115/115 [==============================] - 0s 3ms/step - loss: 4.0086e-04 - acc: 1.0000

# Creating the confusion matrix

In [90]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [91]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [92]:
cm

array([[12,  9],
       [ 7, 22]], dtype=int64)

In [93]:
((cm[0][0]+cm[1][1])/(cm[1][0]+cm[1][1]+cm[0][0]+cm[0][1]))*100

68.0